<form action="/stations/${_station.id}/addreading" method="POST">
  <div class="columns">


    <div class="field column">
      <label class="label">Code</label>
      <div class="control">
        <input class="input" placeholder="0" type="number" name="code">
      </div>
    </div>

    <div class="field column">
      <label class="label">Temperature</label>
      <div class="control">
        <input class="input" placeholder="0.0C" type="number" name="temperature">
      </div>
    </div>

    <div class="field column">
      <label class="label">Wind Speed</label>
      <div class="control">
        <input class="input" placeholder="00.00kMh" type="number" name="windSpeed">
      </div>
    </div>

    <div class="field column">
      <label class="label">Wind Direction</label>
      <div class="control">
        <input class="input" placeholder="000deg" type="number" name="windDirection">
      </div>
    </div>

    <div class="field column">
      <label class="label">Pressure</label>
      <div class="control">
        <input class="input" placeholder="0000hPa" type="number" name="pressure">
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <div class="control">
      <button class="button is-info">Submit Report</button>
    </div>
  </div>
</form>