<nav class="navbar has-background-link	is-inverted">
    <div class="navbar-brand">
        <a id="main" class="navbar-item has-text-link-light	" href="/main">WeatherTop Stations</a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">

            <a id="dashboard" class="navbar-item has-text-link-light	" href="/dashboard">Dashboard</a>
            <a id="about" class="navbar-item has-text-link-light	" href="/about">About </a>
            <a id="logout" class="navbar-item" href="/logout">Logout </a>

        </div>
    </div>
</nav>

<script>
    $("#${_id}").addClass("has-background-black has-text-black");
</script>