#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<div class="content box is-half">
    <p class="title">

        About WeatherTop App
    </p>
    <div class="columns">
        <div class="column">
            <p>
                Monitor latest weather station readings<br><br>
                WeatherTop Inc. produce a modular weather station called the WeatherTop 1000. This
                low-cost device takes a set of meteorological readings and displays these on a simple LCD
                display.
            </p>
        </div>
        <div class="column is-half">
            <figure>
                <img src="/public/images/forecast.png">
            </figure>
        </div>
    </div>
</div>