#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}
<link rel="stylesheet" href="/public/stylesheets/main.css">
<div class="content box" >
    <div class="season">
        <img src="/public/images/season.png">
    </div>
   

    <p class="title has-text-centered is-size-2">WeatherTop
    </p>

    <p class="has-text-centered is-size-4">
        Select Dashboard or About
    </p>


    <div class="device">
        <img src="/public/images/device.png">
    </div>
    <div class="tower">
        <img src="/public/images/tower.png">
    </div>
</div>
</div>
</div>